<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         xmlns="http://java.sun.com/xml/ns/j2ee">
    <!-- 测试listener -->
    <listener>
        <listener-class>com.xd.springclouddemo.config.TestListener</listener-class>
    </listener>
    <!-- 测试filter -->
    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>com.xd.springclouddemo.config.TestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!-- 测试servlet -->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.xd.springclouddemo.config.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>